<p id="notice"><%= notice %></p>
<body>
  <div style="background-color: #EBEBEB;">
    <h1 class="text-center"> Welcome Home </h1>
  </div>
</body>

<h1>Projects Portafolio</h1>

<div class="card-deck">
    <% @projects.each do |project| %>
      <div class="card text-white border-success bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body ">
          <h5 class="card-title">Title:</h5>
          <p><%= project.title %></p>
          <p class="card-text"><h6>Description:</h6><%= project.description %></p>
          <a><%= link_to 'Show',project %>|</a>
          <a><%= link_to 'Edit', edit_project_path(project) %>|</a>
          <a><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
      </div>
    <% end %>
</div>


<ul class="list-unstyled list-inline text-center py-2">
  <li class="list-inline-item">
    <%= link_to 'New Project', new_project_path %>
  </li>
</ul>