<div class="container text-middle">
  <body>
    <div style="background-color: #EBEBEB;">
      <h1 class="text-center"> Project Information </h1>
    </div>
  </body>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Title:</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Show More', projects_path %>
</div>